
.main{
    border: 2px;
    border-width: 10;
    border-style: solid;
    border-color: rgb(220, 220, 220);
    justify-content: center;
    margin: 100px 10px 0px 10px;
    height: 200px;
    width: auto;
}
.question{
    border: 5px;
   /* border-style: solid;*/
    /*border-color: red;*/
    position: relative;
    top: 80px;
    margin: 0px 280px;
}
.description{
    border: 5px;
    border-style: solid;
    border-color: aqua;
    font-weight: 100;
    position: relative;
    margin: 0px 280px;
}
#reply{
    display: inline-flex;
}
